[user]
	email = fletcher.tom@gmail.com
	name = Tom Fletcher
[core]
	autocrlf = input
	editor = vim
	
[push]
	default = simple
[help]
	autocorrect = 1
[pager]
  log = perl ~/rcfiles/diff-highlight | less
  show = perl ~/rcfiles/diff-highlight | less
  diff = perl ~/rcfiles/diff-highlight | less

[alias]
  find-branch = "!f() { \
    branch=$(git branch -a | grep -v remotes | grep $1 | head -n 1 | sed 's/^..//g'); \
    if [ -z $branch ]; then \
      exit 127; \
    else \
      git checkout $branch; \
    fi; \
    }; \
    f"
