[user]
	email = fletcher.tom@gmail.com
	name = Tom Fletcher
[core]
	autocrlf = input
	editor = vim
	
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[help]
	autocorrect = 1
[pager]
  log = perl ~/rcfiles/diff-highlight | less
  show = perl ~/rcfiles/diff-highlight | less
  diff = perl ~/rcfiles/diff-highlight | less
